@model Member.Models.MembersModel

@{
	ViewData["Title"] = "註冊";
}

<div class="row">
	<div class="col-md-4">
		@if(ViewData["Message"] != null)
		{
			<div class="form-group text-danger control-label">
				@ViewData["Message"]
			</div>
		}
		<form asp-action="Signup">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Account" class="control-label">帳號 </label>
				<input asp-for="Account" type="text" name="Account" id="Account" class="form-control" />
				<span asp-validation-for="Account" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label">密碼 </label>
				<input asp-for="Password" type="password" name="Password" id="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label">信箱 </label>
				<input asp-for="Email" type="email" name="Email" id="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label">連絡電話 </label>
				<input asp-for="Phone" type="text" name="Phone" id="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}